@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Indie+Flower&family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Indie+Flower&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rammetto+One&display=swap');


body {
    font-family: "Playfair Display", serif;
    margin: 100px 0px 0px 0px;
    background: rgb(77,8,8);
    background: radial-gradient(circle, rgba(77,8,8,1) 0%, rgba(28,1,1,0.8744747899159664) 100%);
    color:rgba(255, 232, 203, 0.877);
  }
.adatok {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

h1{
    font-size: 60px;
    margin-bottom: 30px;
    text-transform: uppercase;  
}
.choice{
    width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    outline: solid rgba(255, 232, 203, 0.877) 2px;

    
}

img {
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.confetti {
    width: auto;
    height: 100%;
}

canvas {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin-top: -100px  ;
    height: 100%;
  }

  
@media (max-width:1024px) {
    h1{
        font-size: 30px;
    }
    .choice{
        width: 300px;
    }
    .confetti1, .confetti2{
        margin: 0;
        margin-left: 0;
        display: none;
    }
    .adatok{
        display: flex;
        flex-direction: column;
    }
    .telef{
        display: flex;
    }
    
    
}